@media only screen and (min-width: 64em) {
    /* Only CSS rules that need to be changed to meet the layout needs from medium to large/wide go in here */
    /*  article p.town-article img { width: 29.333%; }*/
    header,
    nav,
    main,
    footer {
        /*max-width: 1800px;*/
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    header {
        padding-right: 3%;
    }
    .home-images{
        display: grid;
        grid-template-columns: 33.3% 33.3% 33.3%;
    }
    .all-pics {
        display: grid;
        grid-template-columns: 33.3% 33.3% 33.3%;
    }
    .eventContent{
        height: 600px;
    }
    .eventContent2{
        height: 600px;
        flex-direction: column-reverse;
    }

    .eventInfo {
        display: grid;
        grid-template-columns: 33.3% 33.3% 33.3%;
        align-content: center;
    }
   
    .index-pic{
        max-width: 100%;
        max-height: 300px;
        align-items: baseline;
    }

    .event-article{
        width: 100%;
    }
    .event-article{
    background-color: #306e12;
    color: white;
    padding-top: 65px;
    padding-bottom: 25px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px
}
.event-article1{
    background-color: #d48a6a;
    color: white;
   
     margin-bottom: 20px
    }
   .event-article {
        margin-top: 20px;
        font-size: 1.3em;
        padding: 0px;
    }
    .event-article1{
        width: 100%;
        font-size: 1.2em;
        margin-top: 20px;
      
      
    }