@media only screen and (min-width: 37.5em) {
    /* Only CSS rules that need to be changed to meet the layout needs from small to medium go in here */
    nav button {
        display: none;
    }
    /* hamburger button does not need to be shown */
    header {
        font-size: 16px;
    }
    .navigation1{
        display: none;
    }
    .navigation {
        display: flex;
        list-style-type: none;
        margin-top: 15px;
        padding: 10px;
        width: 100%;
        background-color: #d48a6a;
        font-family: Oswald, sans-serif;
    }
    

    .navigation li {
        text-align: center;
        display: flex;
        flex-grow: 1;
        border-bottom: #000;
        height: auto;
        border: none;
    }
    .navigation a {
        margin: auto;
        color: white;
        padding: 8px 16px;
        text-decoration: none;
    }
    nav ul li.active a {
        background-color: white;
        color: #d48a6a;
    }
    .navigation a:hover {
        background-color: #306e12;
        color: #fff;
    }
#home{
    background-image:none;
}
#tours{
    background-image: none;
}
#events{
    background-image: none;
}
#sales{
    background-image: none;
}
#service{
    background-image: none;
}
#contact{
    background-image: none;
}
.home-img{
     display:block;
     width: 100%;
     height: auto;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    }
.eventContent {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        /*min-width: 600px;*/
        flex-basis: 600px;
    }
    .article-content1 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex-basis: 600px;
    }
    .eventContent2 {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        flex-basis: 600px;
    }
    .index-pic{
        max-width: 50%;
        height: auto;
    }
    .eventHeader{
        font-size: 50px;
        color: #306e12;
    }
    .event-article {
        width: 50%;
        font-size: 2em;
        padding: 0px;
    }
    .event-article1{
        width: 50%;
        font-size: 1.4em;
        padding: 0px;
    }

    .header h1{
    text-align: left;
    padding-left: 20px
}
    .header h2{
    text-align: left;
    padding-left: 20px
    } 
    .tours{
        
        font-family: Oswald, sans-serif;
        width:100%;
    }
 
    .daily-tour{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    
    }
    .tour1, .tour2{
        width: 50%;
        height: auto;
    }
    .tour1 img{
        width: 85%;
    }
    .tour2 img{
        width: 85%;
    }
    .contactPage{
        display: flex;
        flex-wrap: wrap;
        width: 100%;    
    }
    .contactPage form{
        width: 50%;
    }
    .contactPage iframe{
        width: 50%;
        padding-top: 60px;
        padding-bottom: auto;
    }
    
    #slider1 .slide, #slider2 .slide, #slider3 .slide {
    float: left;
    list-style-type: none;
    width: 720px;
    height: 400px;
}

    tbody{
    font-size: 50px;
}
thead{ 
    font-size: 80px;
}

