/* This main css file contains the default rules and is geared toward the small/phone view */

* { box-sizing: border-box;}  
body {
  font-size: 16px;
    

}

header, nav, main, footer {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
 
}
.hamburger {
    display: block;
    position: absolute;
    top: 6.0rem;
    left: 1.25rem;
}

.navigation.responsive {
    position: relative;
}

.navigation.responsive li {
    background-color: #f1f1f1;
    display: block;
    width: 100%;
    margin: 2px 0;
    font-family: Roboto Condensed, sans-serif;
    color: black;
}

.navigation.responsive li a {
    padding: 8px 16px;
    text-align: center;
    display: block;
    text-decoration: none;
}

.navigation.responsive li a:hover {
    background-color: skyblue;
}

.navigation.responsive li.active a {
    background-color: navy;
    color: white;
}

.navigation {
    list-style: none;
    padding-left: 0;
}

.navigation li {
    display: none;
}
.sunny{
    display: inline-block;
}

.summary-wrapper{
    display: inline-block;
    text-align: left;
    width: 390px;
}

.summary-wrapper h2{
    display: inline-block;
}

.summary-wrapper figure{
    display: inline-block;
}

.summary-wrapper p{
    display: inline-block;
    font-size: 20px;
}
.current {
    vertical-align: top;
    display: inline-block;
}
.precipitation {
    text-align: center;
}

main figure img {
    display: inline-block;
}

section.forecast { 
 display: none;   
}

.forecast h3{
    background-color: gray;
    height: 50px;
    padding-top: 15px;
}
table{
    background-color: azure;
    width: 100%;
}

article {
    border: 2px solid gray;
}
article p{
    display: inline-block;
    vertical-align: top;
}

article img{
    display: inline-block;
    width: 100%;
}

picture img{
    width: 400px;
}