@media only screen and (min-width: 37.5em) {
  /* Only CSS rules that need to be changed to meet the layout needs from small to medium go in here */
  
  nav button { display:none; }  /* hamburger button does not need to be shown */
    
   .navigation {
        display: flex;
        list-style-type: none;
        margin-top: 15px;
        padding: 0;
        width: 100%;
        background-color: #f1f1f1;
        font-family: Roboto Condensed, sans-serif;
    }
    .navigation li {
        text-align: center;
        display: flex;
        flex-grow: 1;
        border-bottom: #000;
    }
    .navigation a {
        margin: auto;
        color: #000;
        padding: 8px 16px;
        text-decoration: none;
    }
    nav ul li.active a {
        background-color: navy;
        color: white;
    }
    .navigation a:hover {
        background-color: skyblue;
        color: #fff;
    }
    .hamburger {
        display: none;
    }
  section.forecast { 
      display: block; 
    }  /* show the 10-day forecast with the medium view and up */
  
/*  article p.town-article img { width: 62.666%; float:right; }   responsive images */
    
    article p{
        display: inline-block;
        width: 45%;
        vertical-align: top;
    }

    article img{
        display: inline-block;
        width: 45%;
    }

}